<div class="row">
	<div class="col-md-4">
		<iframe id="ytplayer" type="text/html" width="340" height="290" src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com" frameborder="0"/>
		<%#= iframe_tag :ytplayer, type: "text/html", width: 640, height: 390, src: 'http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com', frameborder: 0 %>
	</div>
</div>