<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Trailer</a></li>
		<li><a href="#">Character</a></li>
	</ul>
	<h3 class="text-muted">Movie Trailer</h3>
</div>